.outer{
    height: 350px;
    width: 400px;
    background-color: magenta;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.inner{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;

}

